<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/common.css" rel="stylesheet" />
        <title>Now Serving Manual Update</title>
        <script>
            async function getCashierList() {
                try {
                    const response = await fetch("/cashiers");
                    if (!response.ok) {
                        throw new Error("Failed to make request for cashier")
                    } else {
                        const data = await response.json();
                        data.forEach(function(c) {
                            addCashier(c.ID);
                        })
                    }
                } catch (error) {
                    console.error("There has been a problem with your fetch operation:", error);
                }            
            }

            function addCashier(id) {
                const cashierSelect = document.getElementById("cashier-list")
                let opt = document.createElement("option");
                opt.value = id;
                opt.innerText = id;
                cashierSelect.appendChild(opt);
            }

            async function updateServing() {
                const cashierId = document.forms.servingform['cashier-list'].value;
                const ordernum = document.forms.servingform['order-id'].value;

                const url = '/cashiers/'+cashierId;

                let pdata = {};
                pdata['ordernum'] = ordernum
                console.log(pdata);
                try {
                    const response = await fetch(url, {
                        method: "PATCH",
                        credentials: "same-origin",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(pdata)
                    });
                    if(!response.ok) {
                        console.log("request failed");
                    } else {
                        console.log("request succeeded");
                    }

                }
                catch(error) {
                    console.log("error with fetch");
                    console.log(error);
                }
            }
            document.onload = getCashierList();
        </script>

    </head>
    <body style="color:#DB1675">
        <form class="servingform" name="servingform" onsubmit="return false;">
            <h1>Update Now Serving</h1>
            <div class="formelement">
                <label for="cashier-list">Cashier ID</label>
                <select name="cashier-list" id="cashier-list"></select>
            </div>
            <div class="formelement">
                <label for="order-id">Order Number</label>
                <input type="text" name="order-id" id="order-id" placeholder="order nuber">
            </div>
            <button onclick="updateServing()">Update</button>
        </form>
        
    </body>
 
</html>