<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>QRCode Tester</title>
        <script type="text/javascript" src="static/vendor/qrcode.js"></script>
        <script type="text/javascript" src="static/ht-qr.js"></script>
        <link href="static/vendor/bootstrap.min.css" rel="stylesheet" />
        <script>
            function randn_bm(min, max, skew) {
                let u = 0, v = 0;
                while(u === 0) u = Math.random() //Converting [0,1) to (0,1)
                while(v === 0) v = Math.random()
                let num = Math.sqrt( -2.0 * Math.log( u ) ) * Math.cos( 2.0 * Math.PI * v )
                
                num = num / 10.0 + 0.5 // Translate to 0 -> 1
                if (num > 1 || num < 0) 
                    num = randn_bm(min, max, skew) // resample between 0 and 1 if out of range
                
                else{
                    num = Math.pow(num, skew) // Skew
                    num *= max - min // Stretch to fill range
                    num += min // offset to min
                }
                return Math.floor(num)
            }
            
            function generateCode() {
                clearQRCode();
                let data = {};
                data["orderid"] = document.forms.qrdata['orderid'].value;
                const encdata = JSON.stringify(data);
                let qrcode = new QRCode(document.getElementById("qrcode"), encdata);
                document.getElementById("datajson").innerText = encdata;
            }

            function generateRandomOrderId() {
                const characters = "ABCDEFGHIKJLMN";
                let result = '';
                result += characters.charAt(Math.floor(Math.random() * characters.length));
                result += "-";
                result += Math.floor(Math.random()*1000);
                return result;
            }
            function clearQRCode() {
                document.getElementById("qrcode").innerHTML = "";
                document.getElementById("qrcompact").innerHTML = "";
            }

            function generateRandomOrder() {
                clearQRCode();
                let data = {};

                let minvar = parseInt(document.forms.qrdata['minvar'].value)
                let maxvar = parseInt(document.forms.qrdata['maxvar'].value)
                let maxorder = parseInt(document.forms.qrdata['maxorder'].value)
                let diff = maxvar-minvar

                if(include_txn) {
                     data["txn"] = generateRandomOrderId();
                }
                data['cc'] = 123;
                data['p'] = "A726";
                data["i"] = [];
                
                qty = randn_bm(1,maxorder,3)
                for(i=0; i<qty; i++) {
                    if(inventory_ids.length > 0) {
                        console.log(inventory_ids.length);
                        let rv = inventory_ids[Math.floor(Math.random() * inventory_ids.length)];
                        console.log(rv);
                        data["i"].push({"v":rv, "q": randn_bm(1,5,2)});
                    }
                    else {
                        let rv = Math.floor(Math.random() * diff + minvar);
                        console.log(rv);
                        data["i"].push({"v":rv, "q": randn_bm(1,5,2)});
                    }

                }

                const encdata = JSON.stringify(data);
                console.log(encdata);
                const compact = encode(data);
                console.log(compact);
                document.getElementById("compact").innerText = compact;
                document.getElementById("datajson").innerText = encdata;
                //let qrcode = new QRCode(document.getElementById("qrcode"), encdata);
                let cqrcode = new QRCode(document.getElementById("qrcompact"), compact);
   
            }

            function showtype(src) {
                if (src == "random") {
                    document.getElementById("random-order").style.display = "block"
                    document.getElementById("constructed-order").style.display = "none"
                } 
                else if (src == "constructed") {
                    document.getElementById("random-order").style.display = "none"
                    document.getElementById("constructed-order").style.display = "block"
                }
                else {
                    document.getElementById("random-order").style.display = "none"
                    document.getElementById("constructed-order").style.display = "block"
                    data = JSON.stringify({"control": "info"})
                    let qrcode = new QRCode(document.getElementById("qrcode"), data);
                }
            }
            var include_txn = true
            function toggleIncludeTXN(val) {
                include_txn = val
            }

            var items = []

            function addItem() {
                i = parseInt(document.getElementById("i").value)
                q = parseInt(document.getElementById("q").value)
                items.push({"v": i, "q":q})
                ele = document.getElementById("item-list")
                let li = document.createElement("li")
                li.appendChild(document.createTextNode(i+":"+q))
                ele.appendChild(li)
            }

            function generateContructedOrder() {
                clearQRCode();
                let data = {};


                if(include_txn) {
                     data["txn"] = generateRandomOrderId();
                }
                data["i"] = items
                data['cc'] = "123"
                data['p'] = "A726"
                
                const encdata = JSON.stringify(data);
                console.log(encdata)
                document.getElementById("datajson").innerText = encdata;
                let qrcode = new QRCode(document.getElementById("qrcode"), encdata);
                   
            }
            var inventory_url = "http://127.0.0.1:8080/static/mockInventory.json";
            function updateInventoryURL(url) {
                console.log(url);
                inventory_url = url;
            }

            var inventory_ids = [];

            async function fetchInventory() {
                console.log("in fetchInvetory");
                try {
                    const response = await fetch(inventory_url);
                    if (!response.ok) {
                        throw new Error(`Response status: ${response.status}`);
                    }
                    const data = await response.json();
                    console.log(data);
                    data.forEach(element => {
                        if(element.variant_stock_status == "IN") {
                            console.log(element);
                            inventory_ids.push(element.variant_id);
                        }
                    });
                    console.log(inventory_ids);
                } catch(error) {
                    console.log(error.message);
                }
            }


        </script>

    </head>
    <body>
        {{ template "menu.html" . }}
        <div class="container-fluid" id="order-selector">
            <h2>Order type</h3>
            <input type="radio" id="random" name="order-type" onchange="showtype(this.value)" value="random" checked> <label for="random">Random Order</label><br/>
            <input type="radio" id="constructed" name="order-type" onchange="showtype(this.value)" value="constructed"> <label for="contstructed">Constructed Order</label><br/>
            <input type="radio" id="info" name="order-type" onchange="showtype(this.value)"> <label for="info">Info</label>
        </div>
        <div class="container-fluid" id="include-txn-selector">
            <h2>Include TXN</h3>
            <input type="radio" id="itxn" name="include-txn" value="true" onchange="toggleIncludeTXN(true)" checked> <label for="itxn">Include txn</label> <br />
            <input type="radio" id="extn" name="include-txn" value="false" onchange="toggleIncludeTXN(false)"> <label for="etxn">Exclude txn</label>
        </div>
        <div class="container-fluid">
            <h2>Inventory URL</h2>
            <input type="text" name="inventory-url" id="inventory-url" placeholder="http://127.0.0.1:8080/static/mockInventory.json" onchange="updateInventoryURL(this.value)">
            <button name="fetch-inventory" onclick="fetchInventory()" value="fetch inventory" class="btn btn-secondary">Fetch Inventory</button>
        </div>
        <div class="container-fluid" id="constructed-order" style="display:none">
            <div class="container-fluid">
                <ul id="item-list">

                </ul>
            </div>
            <form onsubmit="return false;" name="constructed-qr" id="constructed-form">
                <div class="form-group">
                    <label for="i1">Item</label>
                    <input type="text" class="form-control" id="i" name="i" placeholder="item id">
                </div>
                <div class="form-group">
                    <label for="q1">Quantity</label>
                    <input type="text" class="form-control" id="q" name="q" placeholder="item quantity">
                </div>
                <button class="btn btn-secondary" onclick="addItem()">Add Item</button>
                <button class="btn btn-secondary" onclick="generateContructedOrder()">Generate Order</button>

            </form>
        </div>

        <div class="container-fluid" id="random-order">
            <form onsubmit="return false;" name="qrdata">
                <div class="form-group">
                    <label for="minvar">Minimum Variation ID</label>
                    <input type="text" class="form-control" name="minvar" id="minvar" value="1" placeholder="enter order id, e.g. A-123">
                </div>
                <div class="form-group">
                    <label for="maxvar">Maximum Variation ID</label>
                    <input type="text" class="form-control" name="maxvar" id="maxvar" value="50" placeholder="enter order id, e.g. A-123">
                </div>
                <div class="form-group">
                    <label for="maxorder">Maximum items in order</label>
                    <input type="text" class="form-control" name="maxorder" id="maxorder" value="25" placeholder="enter order id, e.g. A-123">
                </div>

                <button class="btn btn-secondary" onclick="generateRandomOrder()">Generate Random Order</button>
            </form>
        </div>
        <div class="container-fluid">
            <div class="container" id="qrcode"></div>
            <div class="container" id="qrcompact"></div>
            <div class="container" id="datajson"></div>
            <div class="container" id="compact"></div>
        </div>
    </body>
</html>